db/
incremental_db/
tutorials/
paltest/
hex/srec_cat.exe
lm80c.done
lm80c.flow.rpt
lm80c.sta.rpt
lm80c.sta.summary
lm80c.asm.rpt
lm80c.jdi
lm80c.sof
lm80c.fit.*
lm80c.pin
lm80c.map.*
lm80c.qws
PLLJ_PLLSPE_INFO.txt
*.bak
lm80c.rbf
greybox_tmp/
*.ddb

