db/
incremental_db/
tutorials/
paltest/
hex/srec_cat.exe
lm80c_mist.done
lm80c_mist.flow.rpt
lm80c_mist.sta.rpt
lm80c_mist.sta.summary
lm80c_mist.asm.rpt
lm80c_mist.jdi
lm80c_mist.sof
lm80c_mist.fit.*
lm80c_mist.pin
lm80c_mist.map.*
lm80c_mist.qws
PLLJ_PLLSPE_INFO.txt
*.bak
lm80c_mist.rbf
greybox_tmp/
*.ddb

